
<form action="/Sozluk/Ceviri/">
    <h2 class="text-center">TÜRKÇE-İNGİLİZCE-İSPANYOLCA SÖZLÜK</h2>
    <div class="text-center">
        <br />
        <br />
        <br />
        <div class="col-md-6 text-right">
            <label>Hangi dilden: </label>
            <br />
            <select name="kdil">
                <option value="tr">Türkçe</option>
                <option value="en">İngilizce</option>
                <option value="esp">İspanyolca</option>
            </select>
        </div>

        <div class="col-md-6 text-left">
            <label>Hangi dile: </label>
            <br />
            <select name="hdil">
                <option value="tr">Türkçe</option>
                <option value="en">İngilizce</option>
                <option value="esp">İspanyolca</option>
            </select>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="col-md-12 text-center">
            <label>Kelime: </label>
            <br />
            <input name="kelime" type="text" placeholder="kelime giriniz..."/>
        </div>
        <br />
        <br />
        <div class="container col-md-12 text-center">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-default orange-circle-button" href="">Çevir<span class="orange-circle-greater-than">></span></button>
                </div>
            </div>
        </div>

    </div>
    @*<input class="container" type="submit" value="ÇEVİR" />*@
</form>


